<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chat.lib" >

    <application>
        <activity android:name=".presenter.ChatDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".presenter.FullImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="org.chat.lib.utils.ChatMessageGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
