<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.breadwallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BIND_JOB_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" /> <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".BreadApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Elaphant"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme.Dark"
        android:windowSoftInputMode="stateVisible|adjustResize"
        tools:replace="android:label,android:allowBackup">
        <!-- <meta-data android:name="com.alibaba.app.appkey" android:value="28357838"/> -->
        <!-- <meta-data android:name="com.alibaba.app.appsecret" android:value="9a6bd1109cf85e97fdb9e7ccda8ed740"/> -->
        <receiver
            android:name=".presenter.receivers.PushMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".presenter.activities.intro.IntroActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="*" />
                <data android:pathPattern=".*\\.capsule" />
                <data android:pathPattern=".*\\.capsule" />
                <data android:pathPattern=".*\\..*\\.capsule" />
                <data android:pathPattern=".*\\..*\\..*\\.capsule" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.capsule" />
                <data android:scheme="elaphant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.WalletActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="elapay"
                    android:scheme="elaphant" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="bread" />
                <data android:scheme="bitcoincash" />
                <data android:scheme="bchtest" />
                <data
                    android:host="brd.com"
                    android:pathPrefix="/scanqr"
                    android:scheme="https" />
                <data
                    android:host="brd.com"
                    android:pathPrefix="/wallet-pair"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".presenter.activities.InputPinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.intro.RecoverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.UnlinkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.ImportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.NotificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.SyncBlockchainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.DisplayCurrencyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.ShareDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.intro.WriteDownActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.PaperKeyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.SpendLimitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.PaperKeyProveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.InputWordsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.camera.ScanQRActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- Use launchMode="standard for WebViewActivity in order to be able to have multiple instances" -->
        <activity
            android:name=".presenter.activities.settings.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presenter.activities.DisabledActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.FingerprintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.AdvancedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.NodesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.camera.CameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.HomeActivity"
            android:configChanges="locale|layoutDirection|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".presenter.activities.CurrencySettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.AddWalletsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".presenter.activities.ManageWalletsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.settings.ElaNodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.ChatGroupSelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.MyQrActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".tools.listeners.SyncReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="SyncReceiver" />
        <service
            android:name=".tools.services.SyncService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".presenter.activities.did.DidAuthorizeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="identity"
                    android:scheme="elaphant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.did.DidAuthListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.MyProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.did.AuthorDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.GroupNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.did.ProfileEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.did.DidQuestionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.did.AuthorQrActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.ExploreWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.sign.SignaureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="sign"
                    android:scheme="elaphant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.sign.SignaureEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.sign.SignDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.VoteActivity"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="eladposvote"
                    android:scheme="elaphant" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".presenter.activities.crc.CrcVoteActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="eladposvote"
                    android:scheme="elaphant" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="elacrcvote"
                    android:scheme="elaphant" />
            </intent-filter>
        </activity>

        <activity android:name=".presenter.activities.crc.CrcMembersActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presenter.activities.AppAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.AddAppsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.EsignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.sign.SignSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.EsignHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.MultiSignQrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.MultiSignTxActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*" />
                <data android:pathPattern=".*\\.elasign.*" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="multitx"
                    android:scheme="elaphant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.MultiSignCreateActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="multicreate"
                    android:scheme="elaphant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activities.PhraseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activities.WalletNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="org.chat.lib.presenter.ChatDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.NewFriendListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.FullImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="org.chat.lib.utils.ChatMessageGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="org.moment.lib.activity.MomentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.moment.lib.activity.ImagePagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.moment.lib.activity.TestPicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.moment.lib.activity.ImageGridActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.moment.lib.activity.PhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.moment.lib.activity.PublishedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.ChatScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.chat.lib.presenter.FriendProfileEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="org.moment.lib.ChatMomentGlideModule"
            android:value="GlideModule" />

        <provider
            android:name=".presenter.provider.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bugly_path" />
        </provider>
        <provider
            android:name=".presenter.provider.ImageFileProvider"
            android:authorities="${applicationId}.imageprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_image_path" />
        </provider>
        <provider
            android:name=".presenter.provider.CapsuleFileProvider"
            android:authorities="${applicationId}.capsuleProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_capsule_path" />
        </provider>
    </application>

</manifest>